body {
    margin: 0;
}

.header {
    padding: 5vh;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    /* font-family: sans-serif; */
}

.div-buttons {
    margin: 1% 5%;
    text-align: center;
}

.padding-5 {
    padding: 5%;
}

.mr-5 {
    margin-right: 5%;
}

.promo i {
    margin: 10px 0;
    color: #01579b;
    font-size: 5rem;
    display: block;
}
.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.pilha {
    padding: 5% 15%;
    text-align: center;
}

.pilha-no {
    display: inline-block;
    padding: 5px;
    border: 2px solid #777;
    border-radius: 2px;
    font-size: 1.8rem;
    width: 10vh;
    text-align: center;
    font-weight: 300;
}

.pilha-topo {
    border: 2px solid #01579b;
    background-color: #e1f5fe;
}